.row.row-no-padding

  .toggles

    / .dropdown
    /   %button.btn.btn-default.btn-xs.dropdown-toggle
    /     Show Tracks
    /     %span.caret

    %ul.tier-toggles
      %form

        / %li
        /   %a.tier_info
        /     Transcription

        %li
          %a.tier_info.tier_toggle.collapsed{'data-target' => 'tr.morphemes'}
            Morphemes

        %li
          %a.tier_info.tier_toggle.collapsed{'data-target' => '.tier.gloss'}
            Gloss

        %li
          %a.tier_info.tier_toggle{'data-target' => '.tier.translation'}
            Translation

        %li
          %a.tier_info.tier_toggle{'data-target' => '.tier.comment'}
            Comments

        %li
          %a.tier_info.tier_toggle{'data-target' => '.attachment_toggle_target'}
            Images

        %li.float-right
          = link_to '', '#', id: 'cur_url', class: 'share', data: {toggle: 'modal', target: '#myModal'}
