.row.row-no-padding

  .col-sm-3

    / .dropdown
    /   %button.btn.btn-default.btn-xs.dropdown-toggle
    /     Show Tracks
    /     %span.caret

    %ul.tier-toggles
      %form

        / %li
        /   %a.tier_info
        /     Transcription

        %li
          %a.tier_info.tier_toggle.collapsed{'data-target' => 'tr.morphemes'}
            Morphemes

        %li
          %a.tier_info.tier_toggle.collapsed{'data-target' => '.tier.gloss'}
            Gloss

        %li
          %a.tier_info.tier_toggle{'data-target' => '.tier.translation'}
            Translation

        / %li
        /   %a.tier_info
        /     Attachments



  .col-sm-9.text-right

    #url
      Current Segment URL:
      %span#cur_url
