#url
  Current Segment URL:
  %span#cur_url

.dropdown
  %button.btn.btn-default.btn-xs.dropdown-toggle{'data-toggle' => "dropdown"}
    Set Displayed Tracks
    %span.caret

  %ul.dropdown-menu
    %form
      -# We work this out off the first phrase
      - first_phrase = @transcript.phrases.first

      - if first_phrase.original
        %li
          %a.tier_info{'data-toggle' => "collapse", :href => '.transcription'}
            Transcription

      - if first_phrase.words.size > 0
        %li
          %a.tier_info{'data-toggle' => "collapse", :href => '.morphemes'}
            Morphemes

      - if first_phrase.graid
        %li
          %a.tier_info{'data-toggle' => "collapse", :href => '.graid'}
            GRAID annotation

      - if first_phrase.translation
        %li
          %a.tier_info{'data-toggle' => "collapse", :href => '.translation'}
            Translation
