= content_for(:title, "Home")

.row
  .col-sm-6.col-sm-offset-3

    %h2 EOPAS

    %p
      This is the home page of the Ethnographic E-Research Online Presentation System (EOPAS) for Interlinear Text. This particular instance runs at the University of Melbourne with the School of Linguistics and Applied Linguistics.

    %p
      EOPAS is a system to deposit audio-visual recordings of ethnographic value, e.g. spoken language recordings, sign language recordings, song recordings, or music recordings. The main focus is on spoken language recordings, such as the recounting of stories told by elders.

    %p
      EOPAS is open source - you are more than welcome to contribute.

    %p
      The project home page is <a href=" http://languages-linguistics.unimelb.edu.au/research/projects-eopas-system">at the School of Language and Linguistics, University of Melbourne, Australia</a>, the mailing lists can be found on  <a href="http://sourceforge.net/projects/eopas/">SourceForge</a>, and the source code and bug tracker are on <a href="http://app.eopas.org/">Github</a>.

    %p
      This site is best viewed in Firefox 3+ and Chrome, or any other browers which support the Ogg Vorbis and Ogg Theroa media formats.
      
    %p
      Enjoy!

    %hr

    %footer

      %p
        Funded by the Institute for a Broadband-Enabled Society (IBES)

      %p
        Chief Investigators: 
        = mail_to("thien@unimelb.edu.au", "Nick Thieberger")
        , Linguistics, University of Melbourne; Rachel Nordlinger, Linguistics, University of Melbourne; Cathy Falk, Music, University of Melbourne; Steven Bird, Computer Science and Software Engineering, University of Melbourne; Linda Barwick, Music, University of Sydney.

      %p
        Copyright &#169; #{Date.today.year} EOPAS. All Rights Reserved.
