.collapse_title
  %span.glyphicon.glyphicon-collapse-up.collapse_icon

.collapse_content

  %p.hidden-print No media item attached
  = link_to 'Link to Media Item', new_media_item_transcript_path(@transcript), class: 'btn btn-success hidden-print'
