@import 'bootstrap';
@import "masonry/fluid";

/* Variables
------------------------------------------ */

  /* Color scheme */
  $red :      #ff542e;
  $yellow:    #fff0ba;
  $ochre:     #f2bc00;
  $grey:      #cfd6de;
  $darkgrey:  #767A7F;
  $lightgrey: #e4e9f5;
  $lightblue: #adc1d6;
  $blue:      #7297ba;


/* Box sizing, clearfix and html/body boxes
------------------------------------------ */

  html,
  body
  {
    margin:0; padding:0;
    width:100%; height: 100%;
  }

  /* Apply a natural box layout model to all elements, but allowing components to change */
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .clearfix:before, .clearfix:after { content: ""; display: table; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }


/* Specific styling of elements
------------------------------------------ */

  audio { width: 100% }


/* Column & grid mods
------------------------------------------ */

  /* Fix horizontal scrolling when using row class */
  .row { margin: 0; }

  .row-no-padding {
    & > [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  /* Add some space when columns collapse */
  @media (max-width: 768px) {
    [class*="col-"]{
        margin-bottom: 2em;
    }
  }

  /* Masonry for media */
  .box { 
    width: 200px; 
    background: #eee;
    border: 2px solid white;
    padding: 5px;
  }


/* General page layout
------------------------------------------ */

  #container {

    #header {
      #menu {
        background-color: $ochre;
        padding: 0.2em 1em;
        margin-bottom: 0.2em;
        ul {
          margin: 0;
          li {
            &, a {color: white;}
            &.current { text-decoration: underline; }
            &#right { float: right; }
          }
        }
      }
      #flash { padding: 0 1em; } 
    }

    #content { padding:0 5px }

    #footer {
      margin-top: 2em;
      font-size: 0.9em;
    }
  }


/* Media upload page
------------------------------------------ */

  div.info {
    border: 1px dashed;
    margin-top: 4em;
    padding: 1em;
    float: left;
    .border-radius: 0.5em;
    ul {
      margin: 0;
    }
  }


/* Transcript index page
------------------------------------------ */

  table {
    th > a.current {
      text-decoration: underline
    }
    th .asc:after {
      font-family: 'Glyphicons Halflings';
      content: "\e113"; // up
      padding-left: 0.5em;
    }  
    th .desc:after {
      font-family: 'Glyphicons Halflings';
      content: "\e114"; // down
      padding-left: 0.5em;
    }
    .count_phrases { color: #aaa }
  }


/* Transcript single page
------------------------------------------ */

  // Info panels
  .collapse_box {
    border: 1px solid $ochre;
    padding: 0;
    margin: 10px 0;
    .collapse_icon { color: $ochre }  
    .collapse_title {
      background-color: $yellow;
      padding-left: 5px;
      padding-bottom: 2px;
      .title { display: inline-block }
      .date { display: inline-block; font-size: 0.8em }
    }
    .collapse_content {
      margin: 0;
      table#metadata { 
        width: 100%;
        th { 
          width: 40%;
          font-weight: 400;
        }
        th, td { padding: 0.3em 1em }
      }
    }
  }
  tr.actions { 
    background: #eee;
    background: rgba(238,238,238,0.4);
    td { padding: 0.5em 0}
  }


  #right_column {
    #url {
      font-size: 0.8em;
    }
  }


  #transcript_display {
    overflow: auto;
    clear: right;
    width: 100%;
    position: relative;

    .line {
      margin: 0 0 0.2em 0;
      padding: 0.2em 0;
      width: 100%;
      transition: all .05s ease-in;
      background: #eee;

      a { 
        color: #aaa;
        transition: all .2s ease-in;
       }
      .controls {
        text-align: center;
        color: $darkgrey;
        .play_button {
          font-size: 1.6em;
          text-decoration: none;
        }
      }
      .tracks {
        text-align: left;
        .tier {
          span {
            display: inline-block;      
            border-spacing: 5px;
            vertical-align: top;
            table {
              padding: 1px;
              margin: 0;
              border-spacing: 2px;
              tr {
                td {
                  white-space: nowrap;
                  padding: 1px;
                  margin: 1px;
                }
                td.morpheme, td.gloss {
                  background-color: $grey;
                }
              }
            }
          }
        }
        .phrase {
          margin-left: 5px;
        }
        .graid {
          color: blue;
        }
        .translation {
          color: green;
          font-style: italic;
        }
      }
      &.hilight {
        background: $yellow;
        a { color: $darkgrey; }
      }
    }
  }

  /* Progress bar bits */
  #uploading {
    display: none;
    width: 400px;

    #progress {
      width: 300px;
      background: #454545;
      border: 1px solid #222;
      margin-bottom: 20px;
      
      #progressbar {
        width: 0px;
        height: 24px;
        background: #b4e04a;
      }
    }
  }

  .impress {
    background: #3399CC !important;
    border: 3px solid #CC0033 !important;
  }

  #concordance {
    .search {
      font-weight: bold;
    }
    .left {
      text-align: right;
    }
  }


/* Forms
------------------------------------------ */

  /*  Some forms have a thin border */
  .form-border { border: 1px solid #eee; border-radius: 0.5em; padding: 1em }

  /* Form labels */
  label { font-weight: 400 }

  label input, 
  label select,
  label textarea,
  label a,
  .participant label {font-weight: 400}

  /* Extend bootstrap styles to form inputs */
  select,
  textarea,
  input[type="text"],
  input[type="password"]
  { 
    @extend .form-control;  
    @extend .input-sm;
    margin: 0.2em 0;
  }

  /* Styles for 'required' inputs */

  .field_with_errors { @extend .has-error }

  input:required,
  select:required,
  textarea:required { border: 1px solid $ochre }
  
  input[type="file"]:required { border: 0 }

  .required label:after {
    content:" *";
    color: red;
  }

  .required_note { @extend .help-block; margin: 1em 0 }

  #errorExplanation {
    ul {
      padding-left: 0;
      li { list-style-type: none; }
    }
  }


/* Tier info. Toggle display of transcript tiers
------------------------------------------ */

  .tier_info:after {
    font-family: 'Glyphicons Halflings';
    content:"\e013";
  }
  .tier_info.collapsed:after {
    font-family: 'Glyphicons Halflings';
    content:"\2b";
  }
  .tier_info.collapsed { color: #666 }
  .dropdown-menu li { padding: 0 5px;}


/* Attachments
------------------------------------------ */

.attachment_thumb { 
  max-width: 100%;
  max-height: 200px;
}


/* Modal
------------------------------------------ */

  .modal-body img { max-width: 100% }

  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }






.dropzone
{
  .dz-message {}
  .dz-preview 
  {
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    margin: 0;

    .dz-image 
    {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 32px;
      z-index: 10;

      img 
      {
          display: block;
          height: 100%;
      }
    }

    .dz-progress 
    {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 8px;
      border: 0;
      z-index: 1;
      background: #78D97C;
    }

    &.dz-error {
      .dz-progress { background: red }
    }
    .dz-details,
    .dz-success-mark,
    .dz-error-mark {display:none}

  }
}
.dropzone.dz-drag-hover {
    background-color: pink !important;
}