#myModal.modal.fade
  .modal-dialog
    .modal-content

      .modal-body.text-center
        %button.btn.btn-default.btn-xs.pull-right{"data-dismiss" => "modal", :type => "button"} Close
        .attachment_full_container
